= form_for @monster do |f|
  - if @monster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monster.errors.count, "error")} prohibited this monster from being saved:"
      %ul
        - @monster.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.select :type, Monster::TYPES, prompt: 'Select Monster type'
  .field
    = f.label :power
    = f.text_field :power
  .actions
    = f.submit 'Save', class: 'button float-right'
