%h1 Listing monsters

%table
  %thead
    %tr
      %th= sort_link @q, :name, 'Name'
      %th= sort_link @q, :type, 'Type'
      %th= sort_link @q, :power, 'Power'
      %th= sort_link @q, :weakness, 'Weakness'
      %th
      %th
      %th

  %tbody
    - @monsters.each do |monster|
      %tr
        %td= monster.name
        %td= monster.type
        %td= monster.power
        %td= monster.weakness
        %td= link_to 'Show', monster
        %td= link_to 'Edit', edit_monster_path(monster)
        %td= link_to 'Destroy', monster, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monster', new_monster_path
