%p#notice= notice

%p
  %b Name:
  = @monster.name
%p
  %b Type:
  = @monster.type
%p
  %b Power:
  = @monster.power
%p
  %b Weakness:
  = @monster.weakness

= link_to 'Edit', edit_monster_path(@monster)
\|
= link_to 'Back', monsters_path
