= form_for @monster_team do |f|
  - if @monster_team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monster_team.errors.count, "error")} prohibited this monster team from being saved:"
      %ul
        - @monster_team.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :monster_ids, 'Monsters (choose 3)'
    = f.select :monster_ids, current_user.monsters.pluck(:name, :id), { }, { multiple: true, size: 5 }
    .hint *Use CTRL on Windows and CMD on Mac to choose multiple monsters
  .actions
    = f.submit 'Save', class: 'button float-right'
