%h1 Listing monster_teams

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @monster_teams.each do |monster_team|
      %tr
        %td= monster_team.name
        %td= link_to 'Show', monster_team
        %td= link_to 'Edit', edit_monster_team_path(monster_team)
        %td= link_to 'Destroy', monster_team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monster team', new_monster_team_path
