%p#notice= notice

%p
  %b Name:
  = @monster_team.name
%p
  %b Monsters:
  = @monster_team.monsters.pluck(:name).join(', ')

= link_to 'Edit', edit_monster_team_path(@monster_team)
\|
= link_to 'Back', monster_teams_path
