.row
  %nav.top-bar{ role: 'navigation' }
    .top-bar-left
      %ul.menu
        %li.menu-text= link_to 'Rubymon', root_path
        %li= link_to 'Monsters', monsters_path
        %li= link_to 'Monster Teams', monster_teams_path
    .top-bar-right
      %ul.menu
        - if user_signed_in?
          %li.menu-text= link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign In via Facebook', user_omniauth_authorize_path(:facebook)
          %li.menu-text= link_to 'Sign In', new_user_session_path
          %li= link_to 'Sign Up', new_user_registration_path, class: 'button'
