!!!
%html
  %head
    %title Rubymon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = render 'layouts/header'

    .text-center
      .notice= notice
      .alert= alert

    .row
      .medium-10.medium-offset-1.columns
        = yield
